.settings
bin
.classpath
currentLineForObs.utline
nextLineForObs.utline
settings.json
/target/
.project
logs/
.idea/
src/main/java/de/tisan/church/untertitelinator/main/Test.java
test/
images/
